doctype html
html(lang='en')
  head
    <!--Author : Divyanshu Agrawal ( 2018A7PS0267H ) , divyanshu123@hotmail.com -->
    //Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet', href='css/theme.css')
    link(rel="stylesheet", href="css/main.css")
    title=title
  body
    block navbar
    block content
    .main.container
      block container
