extends layout

block container
  h1 Processing Complete
  hr
  p Processing of the uploaded files is now complete. A part of the log is below. For a complete log with any errors, see the server logs.
  hr
  pre.console=log


